@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
  font-weight: 1000;
  background-color: rgba(80, 52, 31, 0.74);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1em;
  z-index:2
}

.flex {
  display: flex;
}

.mainPage {
  font-family: "Parisienne", cursive;
  background-color: #f0eade;
  min-height: 100vh;
  padding: 1em;
}

.topWrap {
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  justify-content: right;
  padding: 1em;
  cursor: pointer;
}

.showHide {
  display: none;
}

.searchInput {
  padding: 1em;
  position: relative;
  width: 20%;
  display: flex;
}

.searchBtn {
  border: 1px solid rgb(80, 52, 31);
  color: white;
  background-color: rgb(80, 52, 31);
}

.searchInput input:focus {
  outline: none; /* 입력 창을 클릭했을 때 나타나는 파란색 테두리를 제거. */
}

.searchInput input {
  border: none;
  background-color: #f0eade;
  border-bottom: 1px solid rgb(80, 52, 31);
  width: 100%;
}

.searchInput svg {
  top: 45%;
  right: 4%;
  position: absolute;
  transform: translateY(-50%);
  color: rgb(80, 52, 31); /* 아이콘 색상 설정 */
}

.buttonArea {
  display: flex;
}


.titleWrap {
  display: flex;
  justify-content: center;
}

.title {
  cursor: pointer;
  font-size: 80px;
  color:rgb(80, 52, 31);
}

.menuWrap {
  display: flex;
  justify-content: center;
}

.menuWrap ul {
  padding: 0;
}

.menuList {
  margin-top: 0;
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.menuList li {
  padding: 10px;
}

.bodyContainer{
  padding-left: 10%;
  padding-right: 10%;
}

.loginContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loginBox {
  width: 400px;
  height: 60%;
  color:rgb(80, 52, 31);
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.loginForm input {
  height: 10%;
  padding: 0 10px;
  margin-bottom: 1em;
  border-radius: 6px;
  border: none;
  background-color: #F8F8F8;
}

.signUp {
  height: 10%;
  padding: 0 10px;
  margin-bottom: 1em;
  border-radius: 6px;
  border: none;
  background-color: rgb(113, 74, 43);
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif; /* 기본 폰트로 설정 */
  cursor: pointer;
}

.submitInput {
  cursor: pointer;
}

.loginForm input[type=submit] {
  background-color: rgb(113, 74, 43);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.loginForm input[type=checkbox]{
  width: 12px;
  height: 12px;
}

.loginForm input[type=checkbox]:checked{
  width: 12px;
  height: 12px;
  accent-color: rgb(113, 74, 43);
}

.loginForm span {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logoSize {
  margin: 1em;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.productCardsWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.cardBox {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  cursor: pointer;
}
.imgWrap {
  position: relative;
  width: 100%;
}
.faHeart {
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  bottom: 3%;
  right: 0.1em;
  color: white;
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
}

.cardBox img {
  width: 100%;
  aspect-ratio: 1 / 1.1618;
  transition: transform 0.3s ease; 
}

.cardBox:hover img {
  transform: scale(1.1, 1.1);
}

.contentsCard {
  padding-left: 4px;
  padding-right: 8px;
}

.contentsTitle {
  display: flex;
  justify-content: space-between;
}

.itemTitle {
  font-family: 'TAEBAEKmilkyway';
}

.detailsWrap {
  display: flex;
  justify-content: center;
}

.detailImgWrap {
  width: 40%;
  aspect-ratio: 1 / 1.5;
}

.detailInfoWrap {
  width: 40%;
  aspect-ratio: 1 / 1.5;
  margin-left: 1em;
  font-family: 'TAEBAEKmilkyway';
  font-weight: 1000;
}

.detailImgWrap img{
  width: 100%;
  aspect-ratio: 1 / 1.1618;
}

.detailTitle {
  font-size: 30px;
  margin-top: 0.5em;
}

.detailPrice {
  font-size: 16px;
  margin-top: 1.2em;
  margin-left: 5px;
}

.detailSelect {
  margin-top: 1.2em;
  width: 100%;
  height: 30px;
  font-size: 13px;
}

.resultArea {
  margin-top: 1.2em;
}

.btnArea {
  width: 100%;
  display: flex;
  margin: 20px 0px;
  font-size: 16px;
  border: 1px solid #777;;
  height: 50px;
}

.btn-add {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-add:hover {
  color:rgb(80, 52, 31);
}

.btn-buy {
  width: 60%;
  height: 100%;
  border-left: solid 1px #777;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: rgb(182, 135, 99);
  color: white;
}


/* 미디어 쿼리를 사용하여 모바일 장치에 대한 스타일을 설정합니다. */
@media only screen and (max-width: 768px) {
  /* 768px보다 작은 너비를 가진 장치에 대한 스타일을 여기에 추가합니다. */
  .logoTitle {
    font-size: 40px;
    padding-left: 1em;
    color: rgb(45, 29, 18);
    padding-bottom: 1em;
  }

  .closeBtn {
    text-align: right;
    margin-right: 1em;
    margin-bottom: 2em;
    cursor: pointer;
  }

  .unVisible{
    padding-top: 3em;
    padding-bottom: 2em;
    font-size: 30px;
    padding-left: 1em;
    color: rgb(243, 174, 128);
  }
  .category {
    display: flex;
    flex-direction: column;
  }

  .menuList li:hover{
    color: black;
  }

  .login-button {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 0.5em;
    cursor: pointer;
  }

  .login-button:hover{
    color: black;
  }

  .topWrap {
    width: 100%;
    justify-content: space-between;
  }

  .showHide {
    display: inline;
    width: 20%;
    cursor: pointer;
  }

  .searchInput {
    width: 100%;
  }

  .buttonArea {
    display: none;
  }

  .loginBox {
    width: 300px;
  }

  .title {
    font-size: 50px;
    color:rgb(80, 52, 31);
  }

  .bodyContainer{
    padding-left: 3%;
    padding-right: 3%;
  }
  
  
  .productCardsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .cardBox {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    font-size: 13px;
  }
  .cardBox img {
    width: 100%;
    aspect-ratio: 1 / 1.1618;
  }

  .faHeart {
    right: 0.03em;
  }

  .detailsWrap {
    flex-direction: column;
    align-items: center;
  }

  .detailImgWrap {
    width: 80%;
    aspect-ratio: 1 / 1.2;
  }
  
  .detailInfoWrap {
    text-align: left;
    width: 80%;
    margin-left: 0.1em;
  }
 
}

/* 미디어 쿼리를 사용하여 태블릿 장치에 대한 스타일을 설정합니다. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* 769px부터 1024px까지의 너비를 가진 장치에 대한 스타일을 여기에 추가합니다. */
  .title {
    font-size: 60px;
    color:rgb(80, 52, 31);
  }
  
  .productCardsWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
  }
  .cardBox {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    font-size: 16px;
  }
  .cardBox img {
    width: 100%;
    aspect-ratio: 1 / 1.1618;
  }
}